.navbar {
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 98%) 20%,
    hwb(183 60% 7%) 100%
  );
}

.btn {
  background-color: #3dbaf8;
}

.badge {
  background-color: rgb(180, 173, 173);
}
